section.carousel
  button.carousel__return(aria-label='return')
    i.fas.fa-chevron-left
  .carousel__elements
    .carousel__item
      img(src='https://images.pexels.com/photos/4857726/pexels-photo-4857726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://images.pexels.com/photos/3817843/pexels-photo-3817843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://images.pexels.com/photos/4116194/pexels-photo-4116194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg' alt='taller de motos')
  button.carousel__forward(aria-label='forward')
    i.fas.fa-chevron-right
  .carousel__indicators(role='tablist')