section.carousel
  button.carousel__return(aria-label='return')
    i.fas.fa-chevron-left
  .carousel__elements
    .carousel__item
      img(src='https://i.postimg.cc/Bvfp9xmq/img-carrousel-1.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://i.postimg.cc/qRkGgpfS/img-carrousel-2.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://i.postimg.cc/KY7NZRWt/img-carrousel-3.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://i.postimg.cc/nz0GDNpz/img-carrousel-4.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://i.postimg.cc/j22QQvSh/img-carrousel-5.jpg' alt='taller de motos')
    .carousel__item
      img(src='https://i.postimg.cc/wMr5WJtY/img-carrousel-6.jpg' alt='taller de motos')
  button.carousel__forward(aria-label='forward')
    i.fas.fa-chevron-right
  .carousel__indicators(role='tablist')