section.carousel
  button.carousel__return(aria-label='return')
    i.fas.fa-chevron-left
  .carousel__elements
    .carousel__item
      img(src='./assets/img_Carrousel_1.jpg' alt='taller de motos')
    .carousel__item
      img(src='./assets/img_Carrousel_2.jpg' alt='taller de motos')
    .carousel__item
      img(src='./assets/img_Carrousel_3.jpg' alt='taller de motos')
    .carousel__item
      img(src='./assets/img_Carrousel_4.jpg' alt='taller de motos')
    .carousel__item
      img(src='./assets/img_Carrousel_5.jpg' alt='taller de motos')
    .carousel__item
      img(src='./assets/img_Carrousel_6.jpg' alt='taller de motos')
  button.carousel__forward(aria-label='forward')
    i.fas.fa-chevron-right
  .carousel__indicators(role='tablist')