main.content
    .content__presentation
      p
        b De motos es... 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis mollitia possimus pariatur inventore, facere beatae tempora? Quos perferendis, veritatis doloribus facilis iure ipsa, eius maiores molestias omnis laborum quae odit Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatum ab distinctio cum eos qui aliquid omnis sit consequuntur. Cumque fuga tempora alias distinctio aut tempore error sed ex tenetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, optio. Molestias quam delectus similique, nihil quas doloribus maxime porro animi quisquam explicabo quo labore adipisci fugiat doloremque a, expedita distinctio.!
    .content__mission
      .content__mission--img
        img(src='./assets/img--mision.svg' alt='imagen de misi贸n')
      .content__mission--text
        p
          | Nuestra 
          b misi贸n 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsam doloribus magni consectetur itaque nisi veniam ea eos voluptate consequuntur qui quas, eum excepturi rem beatae! Soluta nihil doloremque qui Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ab distinctio autem optio consectetur adipisci quas alias odit, eveniet sed accusantium libero, possimus dolores pariatur ea ducimus qui. Assumenda, sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsam exercitationem deserunt pariatur cum recusandae nemo quos iste odit. Aliquid, accusamus doloremque? Provident illum nemo libero, atque sed mollitia corrupti.!
    .content__vision
      .content__vision--text
        p
          | Nuestra 
          b visi贸n 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a ut adipisci, aliquam quo modi nostrum ab sit officia odit facere omnis eaque quis vero consequatur qui corrupti? Esse, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, repellendus explicabo. Numquam praesentium quae architecto, libero velit veniam maxime illo atque voluptates placeat ullam, repellat quidem iure pariatur quam blanditiis Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, laudantium vero quae nesciunt impedit ipsam quas repudiandae tempore ducimus ab aspernatur, aliquid laborum, magnam accusantium? Illum ad perferendis reiciendis incidunt..
      .content__vision--img
        img(src='./assets/img--vision.svg' alt='imagen de visi贸n')