main.content
  .content__presentation
    p
      b De motos es...
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, eligendi corporis dolorem quia est placeat libero deleniti corrupti! Repellat perferendis sed consequuntur aut earum dolorum quidem corporis eius accusamus totam.
  .content__mission
    p
      | Nuestra
      b misión...
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, eligendi corporis dolorem quia est placeat libero deleniti corrupti! Repellat perferendis sed consequuntur aut earum dolorum quidem corporis eius accusamus totam.
  .content__vision
    p
      | Nuestra
      b visión...
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, eligendi corporis dolorem quia est placeat libero deleniti corrupti! Repellat perferendis sed consequuntur aut earum dolorum quidem corporis eius accusamus totam.