main.content
    .content__presentation
      p
        b De motos Medellín es 
        | un centro de servicio técnico especializado, con venta de repuestos y accesorios; atendemos todo tipo de motocicletas: Street, moped, enduro, doble propósito, scooter, gamas y marcas. Con una experiencia de más de 5 años en el mercado y con técnicos especializados y certificados en instituciones como: Auteco, Yamaha, AKT, KTM, Kawasaki y el SENA. En DeMotos contamos con la infraestructura y las herramientas necesarias para dar solución efectiva a cualquier problema técnico, que el día a día puede presentar una motocicleta.
    .content__mission
      .content__mission--img
        img(src='./assets/img--mision.svg' alt='imagen de misión')
      .content__mission--text
        p
          | Nuestra 
          b misión 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a ut adipisci, aliquam quo modi nostrum ab sit officia odit facere omnis eaque quis vero consequatur qui corrupti? Esse, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, repellendus explicabo. Numquam praesentium quae architecto, libero velit veniam maxime..
    .content__vision
      .content__vision--text
        p
          | Nuestra 
          b visión 
          | es ser una empresa reconocida en la prestación de servicios y venta de repuestos para motocicletas, brindando un acompañamiento constante a los usuarios hasta alcanzar el cumplimiento de sus expectativas con alta calidad, además contamos con un equipo técnico calificado y preparado para atender todas las necesidades del servicio.
      .content__vision--img
        img(src='./assets/img--vision.svg' alt='imagen de visión')