.Calendi
    select.Calendi__Select(name="Select")
        option(value="") Selecciona o cambia de servicio: 
        option(value="mantenimiento") Mantenimiento 
        option(value="puesta_punto") Puesta a punto 
        option(value="lavado") Lavadero 
        option(value="revision_garantia") Revisiones y garantías 
        option(value="pintura_chasis") Pintura y Chasis    
    div.Calendi__Form
        <script type="text/javascript" src="https://widgets.tucalendi.com/assets/iframewidget.js"></script>
        <script type="text/javascript">Tucalendi.initConfig({domain:"demotos.tucalendi.com/citas/cita-mantenimiento"});</script>