section.Recommendations 
    .Recommendations--General
        .Recommendations__head
            hr.Recommendations__line
            h3.Recommendations__title Recomendaciones generales
        .Recommendations__body
            .Recommendations__card 
                .Recommendations__circle
                    h2 1
                h4 Llega 10 minutos antes de tu cita.
            .Recommendations__card 
                .Recommendations__circle 
                    h2 2
                h4 Ten en regla todos tus papeles.
            .Recommendations__card 
                .Recommendations__circle 
                    h2 3
                h4 Comunícate en caso de alguna inquietud.