*
    padding: 0
    margin: 0
    outline: none
    box-sizing: border-box

.footer
    box-sizing: border-box
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px 0
    .footer__icons
        width: 50%
        display: flex
        align-items: center
        justify-content: space-between
        img
            width: 30px
            height: 30px
    .footer__information
        width: 100%
        padding: 15px 
        p
            text-align: center
        p:nth-child(2)
            padding-top:10px
        p:last-child
            padding-top:10px
            font-size: 12px
            

        