.location
    display: flex
    flex-direction: column
    justify-content: center 
    align-items: center
    width: 100% 
    padding: 35px 0
    iframe
        width: 85%
        max-width: 59.375rem
        height: 25rem 
        box-shadow: 3px 3px 15px 2px #6e6e6e85
.location__ancla
    display: flex
    align-items: center
    margin-bottom: 35px
    text-decoration: none
    color: $color-negro
    p
        font-size: 20px
        padding: 10px
    // img
    //     width: 140px
.location__ancla:hover
    text-decoration: underline