@mixin CardDefault()
    -webkit-transform: rotateY(0deg)
    transform: rotateY(0deg)
    -webkit-transition: transform 1s
    transition: transform 1s

@mixin CardRotateY()
    -webkit-transform: rotateY(180deg)
    transform: rotateY(180deg)
    -webkit-transition: transform 1s
    transition: transform 1s
    .Card__Back
        animation: CardIn 0.8s forwards
        -webkit-animation: CardIn 0.8s forwards

.Servicios
    display: grid
    grid-template-columns: repeat(2, 45%)
    justify-content: center
    grid-gap: 5px
    width: 100%
    margin: 17px auto
    font-size: 0.875rem

    h2
        padding: 8px 8px 0px 8px
        color: $color-gris-claro
    p
        padding: 0px 8px
        color: $color-gris-claro

    .Hover
        &__Repuestos
            grid-column: 1 / 3
            .Card
                @include CardDefault
            &:hover
                .Card
                    @include CardRotateY

        &__Mantenimiento
            grid-row: 2 / 4
            .Card
                @include CardDefault

            &:hover
                .Card
                    @include CardRotateY
        &__PuestaPunto
            .Card
                @include CardDefault

            &:hover
                .Card
                    @include CardRotateY
        &__Lavadero
            .Card
                @include CardDefault

            &:hover
                .Card
                    @include CardRotateY
        &__Revision
            .Card
                @include CardDefault

            &:hover
                .Card
                    @include CardRotateY
        &__Pintura
            .Card
                @include CardDefault

            &:hover
                .Card
                    @include CardRotateY

    &__Repuestos
        height: 7.813rem
        background-image: url('./assets/Backgrounds/VentaDeRepuestos.png')
        background-repeat: no-repeat
        background-size: cover

        .Card__Front
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            width: 100%

    &__Mantenimiento
        height: 100%
        background-image: url('./assets/Backgrounds/Mantenimiento.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: end
        font-size: 0.75rem
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        -webkit-transition: transform 1s
        transition: transform 1s
    &__PuestaPunto
        height: 7.813rem
        background-image: url('./assets/Backgrounds/PuestaPunto.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: end
        font-size: 0.75rem
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        -webkit-transition: transform 1s
        transition: transform 1s

        .Card__Front
            display: flex
            justify-content: flex-end

            h2
                width: 60%

    &__Lavadero
        height: 7.813rem
        background-image: url('./assets/Backgrounds/Lavadero.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: end
        font-size: 0.75rem
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        transition: transform 1s
        -webkit-transition: transform 1s
    &__Revision
        height: 7.813rem
        background-image: url('./assets/Backgrounds/Revisiones.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: end
        font-size: 0.75rem
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        -webkit-transition: transform 1s
        transition: transform 1s
    &__Pintura
        height: 7.813rem
        background-image: url('./assets/Backgrounds/Pintura.png')
        background-repeat: no-repeat
        background-size: cover
        text-align: end
        font-size: 0.75rem
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        -webkit-transition: transform 1s
        transition: transform 1s

        .Card__Front
            display: flex
            justify-content: flex-end

            h2
                width: 60%

.Card
    position: relative
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d
    &__Front
        backface-visibility: hidden
    &__Back
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        height: 100%
        width: 100%
        opacity: 0
        -webkit-opacity: 0
        z-index: 3
        -webkit-transform: rotateY(180deg)
        transform: rotateY(180deg)
        -webkit-transition: transform 1s
        transition: transform 1s

        &--Oscuridad
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.5)
            z-index: 1
        &--Content
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 3
            button
                padding: 5px
                margin-bottom: 10px
                background-color: $color-azul
                color: $color-gris-claro
                border-radius: 10px
                border: 0
                cursor: pointer

@-webkit-keyframes CardIn
    0%
        opacity: 0
        -webkit-opacity: 0
    40%
        opacity: 0.5
        -webkit-opacity: 0.5
    100%
        opacity: 1
        -webkit-opacity: 1

@-webkit-keyframes CardOut
    0%
        opacity: 0
        -webkit-opacity: 0
    40%
        opacity: 0.5
        -webkit-opacity: 0.5
    100%
        opacity: 1
        -webkit-opacity: 1

@keyframes CardIn
    0%
        opacity: 0
        -webkit-opacity: 0
    40%
        opacity: 0.5
        -webkit-opacity: 0.5
    100%
        opacity: 1
        -webkit-opacity: 1

@keyframes CardOut
    0%
        opacity: 0
        -webkit-opacity: 0
    40%
        opacity: 0.5
        -webkit-opacity: 0.5
    100%
        opacity: 1
        -webkit-opacity: 1

@media ( min-width: $breakPoint-laptop )
    .Servicios
        display: grid
        grid-template-columns: repeat(8, 1fr)
        justify-content: center
        width: 90%

        .Hover
            &__Repuestos
                grid-column: 1 / 6
                grid-row: 1 / 2
            &__Mantenimiento
                grid-column: 6 / 9
                grid-row: 1 / 2
            &__PuestaPunto
                grid-column: 1 / 3
            &__Lavadero
                grid-column: 3 / 5
            &__Revision
                grid-column: 5 / 7
            &__Pintura
                grid-column: 7 / 9

        &__Repuestos
            background-image: url('./assets/Backgrounds/VentaDeRepuestosG.png')
            .Card__Front
                font-size: 1.05rem
        &__Mantenimiento
            background-image: url('./assets/Backgrounds/MantenimientoG.png')
            .Card__Front
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                height: 100%
                width: 100%
                font-size: 1.05rem
        &__PuestaPunto
            background-image: url('./assets/Backgrounds/PuestaPuntoG.png')
            .Card__Front
                display: flex
                justify-content: flex-end
                align-items: flex-end
                padding: 10px
                height: 100%
                width: 100%
                font-size: 1.05rem
        &__Lavadero
            background-image: url('./assets/Backgrounds/LavaderoG.png')
            .Card__Front
                display: flex
                justify-content: flex-end
                align-items: flex-end
                flex-direction: column
                padding: 10px
                height: 100%
                width: 100%
                font-size: 1.05rem
        &__Revision
            background-image: url('./assets/Backgrounds/RevisionesG.png')
            .Card__Front
                display: flex
                justify-content: flex-end
                align-items: flex-end
                padding: 10px
                height: 100%
                width: 100%
                font-size: 1.05rem
        &__Pintura
            background-image: url('./assets/Backgrounds/PinturaG.png')
            .Card__Front
                display: flex
                justify-content: flex-end
                align-items: flex-end
                padding: 10px
                height: 100%
                width: 100%
                font-size: 1.05rem

    .Card
        height: 15.625rem
        button
            padding: 5px 10px
            font-size: 20px
            -webkit-transition: background-color,transform .3s
            transition: background-color,transform .3s
            &:hover
                background-color: $color-azul-oscuro
                -webkit-transform: scale(.95)
                transform: scale(.95)
