.Types
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    background: $color-gris-types
    &__title
        padding: 15px 0
        color: #9B9999
        font-size: 17px
        font-weight: normal
        line-height: 18px
        text-align: center
    &__main
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        max-width: 1000px
    &__card
        position: relative
        width: 33%
        transform: translateY(0px)
        transition: transform 0.5s
        img
            width: 100%
            filter: grayscale(100%)
            transition: filter 0.5s
        .AnimationImg
            filter: grayscale(0%)
    .AnimationCard
        transform: translateY(-10px)
    &__Subtitle
        position: absolute
        bottom: 0
        display: flex
        align-items: center /** Alinea verticalmente **/
        justify-content: center /** Alinea horizontalmente **/
        width: 100%
        height: 1.5em
        background: $color-negro-azulado
        opacity: 0
        transition: opacity 0.5s
        h4
            color: #FFFFFF
            font-size: 15px
            font-weight: bold
            line-height: 19px
            text-align: center
    .AnimationSubtitle
        opacity: 1

@media (min-width: $breakPoint-tablet)
    .Types
        &__title
            padding: 20px 0
            font-size: 20px
            line-height: 21px
        &__Subtitle
            height: 2em
            h4
                font-size: 23px
                line-height: 27px

// Cuando esté por encima de la medida de escritorio (1024px) se ubica de la siguiente manera
@media (min-width: $breakPoint-laptop)
    .Types
        &__title
            padding: 30px 0
            font-size: 24px
            line-height: 25px
        &__card
            &:hover
                transform: translateY(-20px)
                img
                    filter: grayscale(0%)
                .Types__Subtitle
                    opacity: 1
        &__Subtitle
            height: 2.5em
            h4
                font-size: 25px
                line-height: 29px