doctype html
html(lang="en")
    head
        include components/MixinHeader.pug     
        +Header("Agendar Cita - DeMotos", "Agenda una cita para mantenimiento, puesta a punto, lavadero tipo spa, revision y garantia, pintura, etc.")
        script(type='text/javascript' src='https://assets.calendly.com/assets/external/widget.js' async)
    body
        include ./components/index/Header.pug
        include ./components/AgendarCita/Calendly.pug
        include ./components/AgendarCita/Recomendaciones.pug
        include ./components/index/Footer.pug