doctype html
html(lang="en")
    head
        include components/MixinHeader.pug     
        +Header("Agendar Cita - DeMotos", "Agenda una cita para mantenimiento, puesta a punto, lavadero tipo spa, revision y garantia, pintura, etc.")
    body
        include ./components/index/Header.pug
        include ./components/index/Menu.pug
        include ./components/AgendarCita/Calendly.pug
        include ./components/AgendarCita/Recomendaciones.pug
        include ./components/index/Footer.pug