html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DeMotos Medellín
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap' rel='stylesheet')
        link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")

    body
        include components/index/Header.pug
        include components/index/Menu.pug
        include components/index/Servicios.pug
        include components/index/Marcas.pug
        include components/index/Mapa.pug
        include components/index/Tipos.pug
        include components/index/Footer.pug