html(lang="es")
    head
        include components/MixinHeader.pug     
        +Header("De motos Medellín", "Somos un centro de servicio técnico especializado en motos ubicado en Medellín, con venta de repuestos y accesorios; atendemos todo tipo de motocicletas: Street, moped, enduro, doble propósito, scooter, gamas y marcas. Con una experiencia de más de 5 años en el mercado y con técnicos especializados y certificados en instituciones como: Auteco, Yamaha, AKT, KTM, Kawasaki y el SENA.")
    body(ontouchstart='')
        include components/index/Header.pug
        include components/index/Servicios.pug
        include components/index/Marcas.pug
        include components/index/Mapa.pug
        include components/index/Tipos.pug
        include components/index/Footer.pug