html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DeMotos Medellín
    body
        include components/index/Header.pug
        include components/index/Menu.pug
        include components/index/Servicios.pug
        include components/index/Marcas.pug
        include components/index/Mapa.pug
        include components/index/Tipos.pug
        include components/index/Footer.pug