html(lang="es")
    head
        include components/MixinHeader.pug     
        +Header("DeMotos", "Página oficial del taller DeMotos Medellín")
    body(ontouchstart='')
        include components/index/Header.pug
        include components/index/Servicios.pug
        include components/index/Marcas.pug
        include components/index/Mapa.pug
        include components/index/Tipos.pug
        include components/index/Footer.pug