@import url('./styles/Index/Header.scss');
@import url('./styles/Index/Servicios.scss');
@import url('./styles/Index/Marcas.scss');
@import url('./styles/Index/Mapa.scss');
@import url('./styles/Index/Tipos.scss');
@import url('./styles/Index/Footer.scss');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}