doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Quienes Somos
    body
        include ./components/index/Header.pug
        include ./components/index/Menu.pug
        include ./components/QuienesSomos/Carrousel.pug
        include ./components/QuienesSomos/Contenido.pug
        include ./components/index/Footer.pug
