doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/glider-js@1.7.5/glider.min.css')
        title Quienes Somos
    body
        include ./components/index/Header.pug
        include ./components/index/Menu.pug
        include ./components/QuienesSomos/Carrousel.pug
        include ./components/QuienesSomos/Contenido.pug
        include ./components/index/Footer.pug
        script(src='https://cdn.jsdelivr.net/npm/glider-js@1.7.5/glider.min.js')
        script(src='https://kit.fontawesome.com/2c36e9b7b1.js' crossorigin='anonymous')
        