section.footer
  .footer__icons
    img(src='./assets/icon-instagram.svg' alt='icono de instagram')
    img(src='./assets/icon-wpp.svg' alt='icono de wpp')
    img(src='./assets/icon-facebook.svg' alt='icono de facebook')
  .footer__information
    p demotosmedellin@gmail.com
    p
      b Horario de atención:
      |  Lunes-viernes 8am-6pm
    p Sabados 8am-2pm
    p
      b Contacto:
      | 3104052315
    p ® 2021 by Demotosmedellín