section.footer
  .footer__container
    .footer__socialMedia
      h3 Síguenos
      .footer__icons
        a(href="https://www.instagram.com/demotosmedellin/" rel="nofollow noopener noreferrer" target="_blank")  
          img(src='./assets/icon-instagram.svg' alt='icono de instagram')
        a(href="https://api.whatsapp.com/send?phone=573183495390&text=Hola%2C%20quiero%20m%C3%A0s%20informaci%C3%B2n%20sobre%20los%20servicios." rel="nofollow noopener noreferrer" target="_blank") 
          img(src='./assets/icon-wpp.svg' alt='icono de wpp')
        a(href="https://www.facebook.com/profile.php?id=100006404626513" rel="nofollow noopener noreferrer" target="_blank") 
          img(src='./assets/icon-facebook.svg' alt='icono de facebook')
    .footer__information
      p 
        b Correo: 
        br
        | demotosmedellin@gmail.com
      p
        b Horario de atención: 
        br
        | Lunes-viernes 7:30am-6pm 
        br
        | Sábados 7:30am-2pm
      p
        b Contacto: 
        br
        | 3183495390
        br
        | 5814477

    span.rights ® 2021 by DeMotos Medellín