section.footer
  .footer__container
    .footer__socialMedia
      h3 Síguenos
      .footer__icons
        img(src='./assets/icon-instagram.svg' alt='icono de instagram')
        img(src='./assets/icon-wpp.svg' alt='icono de wpp')
        img(src='./assets/icon-facebook.svg' alt='icono de facebook')
    .footer__information
      p 
        b Correo: 
        br
        | demotosmedellin@gmail.com
      p
        b Horario de atención: 
        br
        | Lunes-viernes 8am-6pm 
        br
        | Sabados 8am-2pm
      p
        b Contacto: 
        br
        | 3104052315
    span.rights ® 2021 by Demotosmedellín