header
    a(href="index.html" alt="Link a home").home__link
        img(src="./assets/logo.svg", width="110", height="54" alt="Logo del taller DeMotos Medellín", class="logo")
    include Menu.pug
    //ativeLinks funcionando
a(href="https://api.whatsapp.com/send?phone=573117384657" rel="nofollow noopener noreferrer" target="_blank").attentionLine Línea de atención 