header
    a(href="index.html" alt="Link a home").home__link
        img(src="./assets/logo.png", alt="Logo del taller DeMotos Medellín", class="logo")
    include Menu.pug
    //ativeLinks funcionando