header
    a(href="index.html" alt="Link a home") 
        img(src="./assets/logo.png", alt="Logo del taller DeMotos Medellín", class="logo")
    include Menu.pug
    //Arreglar bug de menu container en todas las páginas
    //Arreglar bug en dispositivos mobile
    //Darle afuera y salirse
    //ativeLinks funcionando