section.location#maps
  a.location__ancla(href="https://goo.gl/maps/BbawYcTAommLDf85A" rel="nofollow noopener noreferrer" target="_blank")
    p Ver el mapa en 
    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Google_Maps_Logo.svg/1000px-Google_Maps_Logo.svg.png" alt="google maps" height="27px" width= "140px")
  iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1179.016972654666!2d-75.56959627453331!3d6.299875213581045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f28a861af45%3A0x7a537006cd03a079!2sDemotos!5e0!3m2!1ses!2sco!4v1625845800385!5m2!1ses!2sco' title='DeMotos Medellín ubicación Google Maps' style='border:0;' allowfullscreen loading='lazy')