section.location#maps
  a.location__ancla(href="https://goo.gl/maps/Zyk629tXUXt7h7Zr7" rel="nofollow noopener noreferrer" target="_blank")
    p Ver el mapa en 
    img(src="./assets/GoogleMapsLogo.webp" alt="google maps" height="27px" width= "140px")
  iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d247.85775575520879!2d-75.5689306!3d6.2999395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f28a8f0b5a7%3A0x97900e2c29e7acaa!2sDemotos%20Servicio%20Tecnico%20Especializado!5e0!3m2!1ses!2sco!4v1647729561571!5m2!1ses!2sco" title='DeMotos Medellín ubicación Google Maps' style="border:0;" allowfullscreen loading="lazy")