section.Brands
  h3.Brands__title Marcas autorizadas
  .Brands__main
    a(href="https://www.aktmotos.com/" rel="nofollow noopener noreferrer" target="_blank")
      img(src='./assets/Akt-motos-Color.svg' alt='Akt Motos').Brands__img
    a(href="https://www.royalenfield.com/co/es/home/" rel="nofollow noopener noreferrer" target="_blank")
      img(src='./assets/Royal-Enfield-Color.svg' alt='Royal Enfield').Brands__img
    a(href="https://grupouma.com/colombia/?c=CO" rel="nofollow noopener noreferrer" target="_blank")
      img(src='./assets/Grupo-UMA-Color.svg' alt='Grupo UMA').Brands__img
  h3.Brands__subtitle Atendemos todo tipo de marcas