section.Brands
  h3.Brands__authorized Marcas autorizadas
  .Brands__main
    img(src='./assets/Brands/Akt motos.png' alt='Akt Motos')
    img(src='./assets/Brands/Royal Enfield.png' alt='Royal Enfield')
    img(src='./assets/Brands/Grupo UMA.png' alt='Grupo UMA')
  h3.Brands__others Atendemos todo tipo de marcas