section.Brands
  h3.Brands__title Marcas autorizadas
  .Brands__main
    a(href="https://www.aktmotos.com/" alt="Akt Motos" target="_blank")
      img(src='./assets/Brands/Akt-motos-Color.svg' alt='Akt Motos' )
    a(href="https://www.royalenfield.com/co/es/home/" alt="Royal Enfield" target="_blank")
      img(src='./assets/Brands/Royal-Enfield-Color.svg' alt='Royal Enfield')
    a(href="https://grupouma.com/colombia/?c=CO" alt="Grupo UMA" target="_blank")
      img(src='./assets/Brands/Grupo-UMA-Color.svg' alt='Grupo UMA')
  h3.Brands__subtitle Atendemos todo tipo de marcas