.menu__container
    nav.menu
        a(href="index.html" alt="Dirigirse a home").menu__link.active__link Home
        a(href="QuienesSomos.html" alt="Dirigirse a quiénes somos").menu__link Quiénes somos
        a(href="https://api.whatsapp.com/send?phone=573117384657" alt="Dirigirse a whatsapp" target="_blank").menu__link Contáctanos
        a(href="index.html#maps" alt="Dirigirse a ubicación").menu__link Ubicación
        a(href="AgendarCita.html" alt="Dirigirse a agendar cita").menu__link Agendar cita
<<<<<<< HEAD
    .menu__button
        button#BtnMenu
            img(src="./assets/menu.svg", alt="")
=======
    button.menu__button
        //img(src="./assets/menu.svg", alt="")
        .bar
>>>>>>> 83e6dc1e3edd70cee03c069bb0cd7ea14e492b69
