.modal
.menu__container
    button.menu__button
        .bar
        a(href="#header").backToTop 
    nav.menu
        a(href="index.html" alt="Dirigirse a home").menu__link.active Home
        a(href="QuienesSomos.html" alt="Dirigirse a quiénes somos").menu__link Quiénes somos
        a(href="https://api.whatsapp.com/send?phone=573117384657" alt="Dirigirse a whatsapp" target="_blank").menu__link Contáctanos
        a(href="index.html#maps" alt="Dirigirse a ubicación").menu__link Ubicación
        a(href="AgendarCita.html" alt="Dirigirse a agendar cita").date__link Agendar cita
    a(href="AgendarCita.html" alt="Dirigirse a agendar cita").date__link.date__link-active Agendar cita