.menu__container
    nav.menu
        a(href="#" alt="Dirigirse a home").menu__link
            img(src="./assets/home.svg", alt="Imagen representativa de una casa")    
        a(href="#" alt="Dirigirse a quiénes somos").menu__link
            img(src="./assets/quienes_somos.svg", alt="Imagen representativa de unas personas")    
        a(href="#" alt="Dirigirse a agendar cita").menu__link
            img(src="./assets/citas.svg", alt="Imagen representativa de un calendario")    
        a(href="#" alt="Dirigirse a contáctanos").menu__link
            img(src="./assets/contactanos.svg", alt="Imagen representativa de una conversación")    
        a(href="#" alt="Dirigirse a ubicación").menu__link
            img(src="./assets/mapa.svg", alt="Imagen representativa de un punto en un mapa")