.menu__container
    nav.menu
        a(href="index.html" alt="Dirigirse a home").menu__link
            img(src="./assets/home.svg", alt="Imagen representativa de una casa")    
        a(href="QuienesSomos.html" alt="Dirigirse a quiénes somos").menu__link
            img(src="./assets/quienes_somos.svg", alt="Imagen representativa de la información de una persona")    
        a(href="AgendarCita.html" alt="Dirigirse a agendar cita").menu__link
            img(src="./assets/citas.svg", alt="Imagen representativa de un calendario")    
        a(href="https://api.whatsapp.com/send?phone=573117384657" alt="Dirigirse a whatsapp" target="_blank").menu__link
            img(src="./assets/whatsapp-blanco.svg", alt="Imagen representativa de una whatsapp")    
        a(href="index.html/#map" alt="Dirigirse a ubicación").menu__link
            img(src="./assets/mapa.svg", alt="Imagen representativa de un punto en un mapa")