section.Servicios
  .Hover__Repuestos
    .Card.Servicios__Repuestos
      .Card__Front
        h2 VENTA DE REPUESTOS
      .Card__Back
        .Card__Back--Content
          a(href="https://api.whatsapp.com/send?phone=573117384657" rel="nofollow noopener noreferrer" target="_blank")
            button Pregunta por tu repuesto
        .Card__Back--Oscuridad
  .Hover__Mantenimiento
    .Card.Servicios__Mantenimiento 
      .Card__Front
        h2 MANTENIMIENTO
        p Preventivo y general  
      .Card__Back
        .Card__Back--Content
          button.BtnServicio#mantenimientoGeneral Agenda tu cita (General)
          button.BtnServicio#mantenimientoPreventivo Agenda tu cita (Preventivo)
        .Card__Back--Oscuridad
  .Hover__PuestaPunto
    .Card.Servicios__PuestaPunto
      .Card__Front
        h2 PUESTA A PUNTO
      .Card__Back
        .Card__Back--Content
          button.BtnServicio#puesta_punto Agenda tu cita
        .Card__Back--Oscuridad
  .Hover__Lavadero
    .Card.Servicios__Lavadero
      .Card__Front
        h2 LAVADERO
        p tipo SPA
      .Card__Back
        .Card__Back--Content
          button.BtnServicio#lavado Agenda tu cita
        .Card__Back--Oscuridad
  .Hover__Revision
    .Card.Servicios__Revision
      .Card__Front
        h2 REVISIONES Y GARANTIAS
      .Card__Back
        .Card__Back--Content
          button.BtnServicio#revision_garantia Agenda tu cita
        .Card__Back--Oscuridad
  .Hover__Pintura
    .Card.Servicios__Pintura
      .Card__Front
        h2 PINTURA Y CHASIS
      .Card__Back
        .Card__Back--Content
          button.BtnServicio#pintura_chasis Agenda tu cita
        .Card__Back--Oscuridad