section.Servicios
  .Servicios__Repuestos
    img(src="./assets/Logo.png", alt="Logo DeMotos")
    h2 VENTA DE REPUESTOS
  .Servicios__Mantenimiento
    h2 MANTENIMIENTO
    p Preventivo y general
  .Servicios__PuestaPunto
    h2 PUESTA A PUNTO
  .Servicios__Lavadero
    h2 LAVADERO
    p tipo SPA
  .Servicios__Revision
    h2 REVISIONES Y GARANTIAS
  .Servicios__Pintura
    h2 PINTURA Y CHASIS