section.Servicios
  .Servicios__Repuestos
    img(src="./assets/Backgrounds/VentaDeRepuestos.png", alt="Fondo de ventas de repuestos")
    h2 VENTA DE REPUESTOS
  .Servicios__Mantenimiento
    img(src="./assets/Backgrounds/Mantenimiento.png", alt="Fondo de Mantenimiento")
    h2 MANTENIMIENTO
    p Preventivo y general
  .Servicios__PuestaPunto
    img(src="./assets/Backgrounds/PuestaPunto.png", alt="Fondo de PuestaPunto")
    h2 PUESTA A PUNTO
  .Servicios__Lavadero
    img(src="./assets/Backgrounds/Lavadero.png", alt="Fondo de Lavadero")
    h2 LAVADERO
    p tipo SPA
  .Servicios__Revision
    img(src="./assets/Backgrounds/Revisiones.png", alt="Fondo de Revisiones")
    h2 REVISIONES Y GARANTIAS
  .Servicios__Pintura
    img(src="./assets/Backgrounds/Pintura.png", alt="Fondo de Lavadero")
    h2 PINTURA Y CHASIS