section.Types 
    h3.Types__title Nos especializamos en
    .Types__main 
        .Types__card
            img(src="./assets/Motos.svg" alt="Motos")
            .Types__cardFirstSubtitle 
                h4 Motos
        .Types__card
            img(src="./assets/Cuatrimotos.svg" alt="Cuatrimotos")
            .Types__cardSecondSubtitle 
                h4 Cuatrimotos
        .Types__card
            img(src="./assets/Three-Wheels.svg" alt="Three Wheels")
            .Types__cardThirdSubtitle 
                h4 Three Wheels