section.Types 
    h3.Types__title Nos especializamos en
    .Types__main 
        .Types__card
            img(src="./assets/Motos.svg" alt="Motos")
            .activator
            .Types__Subtitle
                h4 Motos
        .Types__card
            img(src="./assets/Cuatrimotos.svg" alt="Cuatrimotos")
            .activator
            .Types__Subtitle 
                h4 Cuatrimotos
        .Types__card
            img(src="./assets/Three-Wheels.svg" alt="Three Wheels")
            .activator
            .Types__Subtitle 
                h4 Three Wheels