section.Types 
    h3.Types__title Nos especializamos en
    .Types__main 
        a(href="#" alt="Motos") 
            img(src="./assets/Motos.svg" alt="Motos")
            .Types__mainFirstSubtitle 
                h4 Motos
        a(href="#" alt="Motos") 
            img(src="./assets/Cuatrimotos.svg" alt="Cuatrimotos")
            .Types__mainSecondSubtitle 
                h4 Cuatrimotos
        a(href="#" alt="Motos") 
            img(src="./assets/Three-Wheels.svg" alt="Three Wheels")
            .Types__mainThirdSubtitle 
                h4 Three Wheels