section.Types 
    h3.Types__title Nos especializamos en
    .Types__main 
        .Types__card
            img(loading='lazy' width="100%" height="100%" src="./assets/Motos.png" alt="Motos")
            .activator
            .Types__Subtitle
                h4 Motos
        .Types__card
            img(loading='lazy' width="100%" height="100%" src="./assets/Cuatrimotos.png" alt="Cuatrimotos")
            .activator
            .Types__Subtitle 
                h4 Cuatrimotos
        .Types__card
            img(loading='lazy' width="100%" height="100%" src="./assets/Three-Wheels.png" alt="Three Wheels")
            .activator
            .Types__Subtitle 
                h4 Three Wheels